@keyframes translate-lettre-gauche {
  0% {
    transform: scale(0) translatex(-8000px);
  }
  100% {
    transform: scale(1) translatex(1px);
  }
}
@keyframes translate-lettre-droit {
  0% {
    transform: scale(0) translatex(8000px);
  }
  100% {
    transform: scale(1) translatex(1px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.background-first {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 700px;
  width: 100%;
  background-image: url("../images/first.jpg");
  overflow: hidden;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 5;
  margin-left: 1rem;
  padding: 0.5em 1em;
}
@media screen and (max-width: 998px) {
  .container-menu {
    flex-direction: column;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 998px) {
  .logo {
    z-index: 999;
  }
}
.logo__logo-salon {
  color: white;
  font-family: "Montserrat", serif;
}
.logo__logo-barbara {
  color: white;
  font-family: "Montserrat", serif;
  margin-left: 1rem;
}
.logo__rect-logo {
  border: 2px white solid;
  padding: 1rem;
}

.container-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
}
@media screen and (max-width: 998px) {
  .container-menu__link {
    margin-top: 1em;
  }
}

.menu {
  display: inline-block;
  text-decoration: none;
  color: white;
  z-index: 10;
  font-size: 1em;
  font-family: "Montserrat", serif;
  letter-spacing: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  max-width: 170px;
  letter-spacing: 0px;
  transition: letter-spacing 400ms ease-in-out;
}
@media screen and (max-width: 998px) {
  .menu {
    padding: 1em;
    font-size: 0.8em;
    margin-right: 1.5em;
    white-space: nowrap;
  }
}

.menu::after,
.menu::before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  margin: 1rem auto;
  position: relative;
  transition: all 350ms ease-in-out;
  width: 0;
}

.menu:hover {
  letter-spacing: 5px;
}

.menu:hover::after,
.menu:hover::before {
  border-color: white;
  width: 70%;
}

.menu:hover::before {
  top: 0;
}

.rectangle {
  color: white;
  background-color: rgba(11, 21, 24, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;
  width: 40%;
  padding-top: 7em;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .rectangle {
    width: 50%;
  }
}
@media screen and (max-width: 998px) {
  .rectangle {
    width: 100%;
  }
}
.rectangle__h1 {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 2rem;
}
@media screen and (max-width: 998px) {
  .rectangle__h1 {
    font-size: 3em;
    margin-top: 2em;
  }
}
.rectangle__intro {
  font-family: "Montserrat", serif;
  font-size: 1.563em;
  font-weight: 600;
  color: #CCCCCC;
  position: relative;
  margin-bottom: 2rem;
}
@media screen and (max-width: 998px) {
  .rectangle__intro {
    font-size: 1em;
  }
}
.rectangle__trait {
  display: block;
  width: 20%;
  height: 0.2rem;
  background-color: white;
  margin-bottom: 2em;
}

@keyframes transition-fleche {
  0% {
    transform: scale(0) translateY(0);
  }
  100% {
    transform: scale(1) translateY(1);
  }
}
@keyframes gauche-fleche-top {
  0% {
    transform: rotateZ(-135deg) scaley(0);
  }
  100% {
    transform: rotateZ(-135deg) scaley(1);
  }
}
@keyframes gauche-fleche-bottom {
  0% {
    transform: rotateZ(135deg) scaley(0.5);
  }
  100% {
    transform: rotateZ(135deg) scaley(1);
  }
}
@keyframes droit-fleche-top {
  0% {
    transform: rotateZ(-45deg) scaley(0);
  }
  100% {
    transform: rotateZ(-45deg) scaley(1);
  }
}
@keyframes droit-fleche-bottom {
  0% {
    transform: rotateZ(45deg) scaley(0.5);
  }
  100% {
    transform: rotateZ(45deg) scaley(1);
  }
}
.carousel {
  position: relative;
  margin-top: 6em;
  margin-bottom: 2em;
  width: 70%;
}

.carousel-inner {
  position: relative;
}

.carousel-open:checked + .carousel-item {
  transform: scaley(1);
}

.carousel-item {
  position: absolute;
  transition: transform 350ms ease-in-out;
  transform: scaley(0) translateX(800px);
  top: -3em;
}

.carousel-item p,
.carousel-item a {
  display: block;
  height: auto;
  width: 300px;
}

.rectangle__lieu {
  position: absolute;
  font-family: "Montserrat", serif;
  font-size: 1em;
  color: #CCCCCC;
}

.rectangle__tel {
  position: absolute;
  font-family: "Montserrat", serif;
  font-size: 1.3em;
  color: #CCCCCC;
}

.rectangle__btn {
  position: absolute;
  background-color: rgba(193, 155, 93, 0.6588235294) !important;
  width: 250px !important;
  height: 60px !important;
  color: white !important;
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 60px;
  border: white solid 0.2rem;
  top: -1.5em;
}

.carousel-control {
  display: none;
  position: absolute;
  transform: translate(0, -50%);
  z-index: 10;
}

.carousel-control.prev {
  bottom: -6em;
}

.carousel-control.next {
  bottom: -6em;
  left: 6em;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.gauche-fleche {
  height: 55px;
  width: 55px;
  background-color: rgba(193, 155, 93, 0.6588235294);
  cursor: pointer;
  border: 0.05em white solid;
}
.gauche-fleche:active .gauche-fleche-container {
  transform: scalex(0.6);
}
.gauche-fleche:hover .gauche-fleche2__top {
  animation: gauche-fleche-top 250ms 250ms ease-in-out forwards;
}
.gauche-fleche:hover:hover .gauche-fleche3__bottom {
  animation: gauche-fleche-bottom 250ms ease-in-out forwards;
}

.droit-fleche {
  height: 55px;
  width: 55px;
  background-color: rgba(193, 155, 93, 0.6588235294);
  cursor: pointer;
  border: 0.05em white solid;
}
.droit-fleche:active .droit-fleche-container {
  transform: scalex(0.7);
}
.droit-fleche:hover .droit-fleche2__top {
  animation: droit-fleche-top 250ms 250ms ease-in-out forwards;
}
.droit-fleche:hover:hover .droit-fleche3__bottom {
  animation: droit-fleche-bottom 250ms ease-in-out forwards;
}

.gauche-fleche1__top {
  background-color: white;
  height: 22.5px;
  width: 3px;
  position: absolute;
  transform: rotateZ(-135deg);
  margin-top: 9px;
  margin-left: 25px;
}
.gauche-fleche1__bottom {
  background-color: white;
  height: 22.5px;
  width: 3px;
  position: absolute;
  transform: rotateZ(135deg);
  margin-top: 23px;
  margin-left: 25px;
}
.gauche-fleche2__top {
  background-color: white;
  position: absolute;
  height: 27px;
  width: 1.5px;
  transform: rotateZ(-135deg);
  margin-left: 10.5px;
  margin-top: -27.2px;
  transform-origin: top;
  transform: scale(0);
}
.gauche-fleche2__bottom {
  height: 11.25px;
  width: 1.5px;
  background-color: white;
  position: absolute;
  transform: rotateZ(135deg);
  transform-origin: top;
  margin-left: 30px;
  margin-top: -9px;
}
.gauche-fleche3__bottom {
  height: 27px;
  width: 1.5px;
  background-color: white;
  position: absolute;
  transform: rotateZ(135deg);
  transform-origin: top;
  margin-left: 29.83px;
  margin-top: -9.3px;
  transform: scale(0);
}

.droit-fleche1__top {
  background-color: white;
  height: 22.5px;
  width: 3px;
  position: absolute;
  transform: rotateZ(-45deg);
  margin-top: 9px;
  margin-left: 25px;
}
.droit-fleche1__bottom {
  background-color: white;
  height: 22.5px;
  width: 3px;
  position: absolute;
  transform: rotateZ(45deg);
  margin-top: 23px;
  margin-left: 25px;
}
.droit-fleche2__top {
  background-color: white;
  position: absolute;
  height: 27px;
  width: 1.5px;
  transform: rotateZ(-45deg);
  margin-left: 40.5px;
  margin-top: -54.2px;
  transform-origin: bottom;
  transform: scale(0);
}
.droit-fleche2__bottom {
  height: 11.25px;
  width: 1.5px;
  background-color: white;
  position: absolute;
  transform: rotateZ(45deg);
  transform-origin: top;
  margin-left: 30px;
  margin-top: -17px;
}
.droit-fleche3__bottom {
  height: 26px;
  width: 1.5px;
  background-color: white;
  position: absolute;
  transform: rotateZ(45deg);
  transform-origin: bottom;
  margin-left: 22.2px;
  margin-top: -35.35px;
  transform: scale(0);
}

.gauche-fleche-container,
.droit-fleche-container {
  transition: 150ms ease-in-out;
  position: relative;
  height: 55px;
  width: 55px;
}

#apropos {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 700px;
  width: 100%;
  background-color: #080D10;
  position: relative;
  z-index: 2;
}

.apropos__b {
  line-height: 80%;
  font-size: 1000px;
  font-family: "Qwigley", cursive;
  color: rgba(255, 255, 255, 0.06);
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 1;
  transform: scale(0);
  animation: translate-lettre-gauche 2000ms 1000ms ease-in-out both;
}
@media screen and (max-width: 998px) {
  .apropos__b {
    display: none;
  }
}

.second-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 60%;
  box-sizing: border-box;
}
@media screen and (max-width: 998px) {
  .second-page {
    width: 70%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.second-page__about {
  color: #C19A5D;
  font-family: "Montserrat", serif;
  font-weight: 600;
  margin-bottom: 3rem;
}
@media screen and (max-width: 998px) {
  .second-page__about {
    margin-top: 2em;
  }
}
.second-page__titre {
  font-family: "Cormorant", serif;
  font-size: 3.25em;
  font-weight: 700;
  color: white;
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (max-width: 998px) {
  .second-page__titre {
    font-size: 3em;
  }
}
@media screen and (max-width: 998px) {
  .second-page {
    margin-bottom: 2em;
  }
}
.second-page__texte {
  color: white;
  font-family: "Montserrat", serif;
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 998px) {
  .second-page__texte {
    text-align: center;
  }
}

.container-btn__voir-plus {
  position: relative;
  width: 200px;
  height: 60px;
  margin-top: 5rem;
  align-items: center;
  z-index: 99;
}
.container-btn__voir-plus:hover .btn-voir-plus__anim {
  transform: scale(1);
}
.container-btn__voir-plus:active .btn-voir-plus {
  transform: scale(0.9, 0.8);
}
@media screen and (max-width: 998px) {
  .container-btn__voir-plus {
    margin-top: 2em;
  }
}

.btn-voir-plus__anim {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 999;
  border: 0.1rem white solid;
  width: 90%;
  height: 80%;
  cursor: pointer;
  transform: scale(0);
  transition: transform 250ms ease-in-out;
}

.btn-voir-plus {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0.2rem white solid;
  font-family: "Montserrat", serif;
  font-size: 16px;
  padding: 1rem 2rem;
  color: white;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  line-height: 30px;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

.second-page__rectangle {
  background-image: url("../images/second.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0;
  height: 700px;
  width: 30%;
}

.background-horaire {
  background-color: #F4EDE6;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 998px) {
  .background-horaire {
    flex-direction: column;
    justify-content: center;
  }
}

.container-texte {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #070F12;
}
@media screen and (max-width: 998px) {
  .container-texte {
    flex-direction: column;
  }
}

.container-texte__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
@media screen and (max-width: 998px) {
  .container-texte__left {
    text-align: center;
    z-index: 999;
    order: 1;
  }
}
.container-texte__left--p {
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #070F12;
  margin-bottom: 0rem;
}
@media screen and (max-width: 998px) {
  .container-texte__left--p {
    font-size: 1em;
  }
}
@media screen and (max-width: 998px) {
  .container-texte__left--p {
    padding-bottom: 2em;
  }
}
.container-texte__left--h2 {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  margin-bottom: 5rem;
}
@media screen and (max-width: 998px) {
  .container-texte__left--h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 998px) {
  .container-texte__left--h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.container-btn-horaire {
  position: relative;
  width: 200px;
  height: 60px;
}
@media screen and (max-width: 998px) {
  .container-btn-horaire {
    display: none;
  }
}
.container-btn-horaire:hover .btn-horaire-anim {
  transform: scale(1.1, 1.3);
}

.btn-horaire-anim {
  position: absolute;
  border: 0.2em rgba(193, 155, 93, 0.6588235294) solid;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  z-index: 1;
}

.btn-horaire {
  position: absolute;
  z-index: 99;
  background-color: black !important;
  width: 200px !important;
  height: 60px !important;
  color: white !important;
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 60px;
}
@media screen and (max-width: 998px) {
  .btn-horaire {
    display: none;
  }
}

.horaire-separation {
  height: 200px;
  width: 3px;
  background-color: #070F12;
  margin: 2rem;
}
@media screen and (max-width: 998px) {
  .horaire-separation {
    display: none;
  }
}

@media screen and (max-width: 998px) {
  .container-texte__right {
    z-index: 999;
    order: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.container-texte__right p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #070F12;
}
@media screen and (max-width: 998px) {
  .container-texte__right p {
    font-size: 1em;
  }
}
.container-texte__right a .btn-horaire-small {
  background-color: black !important;
  width: 200px !important;
  height: 60px !important;
  color: white !important;
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 60px;
}
@media screen and (min-width: 999px) {
  .container-texte__right a .btn-horaire-small {
    display: none;
  }
}
.container-texte__right a {
  display: inline-block;
  align-items: center;
}

.cercle1 {
  position: absolute;
  top: -25%;
  left: -200px;
  width: 400px;
  height: 400px;
  border-radius: 400px;
  border: #C19A5D 18px solid;
  z-index: 1;
  transform: s;
  transform: scale(0);
  animation: translate-lettre-gauche 2000ms 100ms ease-in-out both;
}
@media screen and (max-width: 998px) {
  .cercle1 {
    border: #C19A5D 9px solid;
  }
}

.cercle2 {
  position: absolute;
  bottom: -25%;
  right: -200px;
  width: 400px;
  height: 400px;
  border-radius: 400px;
  border: #C19A5D 18px solid;
  z-index: 1;
  transform: scale(0);
  animation: translate-lettre-droit 2400ms 1000ms ease-in-out both;
}
@media screen and (max-width: 998px) {
  .cercle2 {
    border: #C19A5D 9px solid;
  }
}

.container-background {
  margin: 0;
  height: 600px;
  width: 100%;
  position: relative;
  background-color: #070904;
}
.container-background__left {
  background-image: url("..//images/fourth-1.png");
  height: 600px;
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-size: cover;
}
@media screen and (max-width: 998px) {
  .container-background__left {
    width: 100%;
  }
}
.container-background__right {
  background-image: url("..//images/fourth-2.png");
  height: 600px;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-size: cover;
}
@media screen and (max-width: 998px) {
  .container-background__right {
    width: 100%;
  }
}

.page-fourth__container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 998px) {
  .page-fourth__container {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.page-fourth__container--h2 {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  color: white;
  z-index: 3;
  padding: 1rem;
}
@media screen and (max-width: 998px) {
  .page-fourth__container--h2 {
    font-size: 3em;
  }
}
.page-fourth__container--p {
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #070F12;
  font-weight: 400;
  color: white;
  z-index: 3;
}
@media screen and (max-width: 998px) {
  .page-fourth__container--p {
    font-size: 1em;
  }
}
@media screen and (max-width: 998px) {
  .page-fourth__container--p {
    line-height: 2em;
  }
}
.page-fourth__container--rect {
  background-color: rgba(7, 15, 18, 0.7);
  width: 40%;
  height: 300px;
  z-index: 2;
  position: absolute;
}
@media screen and (max-width: 998px) {
  .page-fourth__container--rect {
    width: 60%;
  }
}

.container-five {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 2em;
}
@media screen and (max-width: 998px) {
  .container-five {
    flex-direction: column;
    gap: 2em;
  }
}

.bloc1,
.bloc2,
.bloc3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc__logo1 {
  background-image: url("..//images/icon_1.png");
  height: 64px;
  width: 64px;
}

.bloc__logo2 {
  background-image: url("..//images/icon_2.png");
  height: 64px;
  width: 64px;
}
@media screen and (max-width: 998px) {
  .bloc__logo2 {
    background-position: 30% !important;
  }
}

.bloc__logo3 {
  background-image: url("..//images/icon_3.png");
  height: 64px;
  width: 64px;
}

.page-five h3 {
  font-family: "Cormorant", serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.page-five p {
  font-family: "Montserrat", serif;
  font-size: 1.12em;
  font-weight: 400;
  text-align: center;
}

.container-six,
.container-huit {
  display: flex;
  flex-direction: row;
}

.container-sept {
  display: flex;
  flex-direction: row-reverse;
}

.six-background {
  background-image: url("..//images/team1.jpg");
  height: 650px;
  width: 50%;
  background-size: cover;
  margin-right: 0;
}
@media screen and (max-width: 998px) {
  .six-background {
    height: auto;
    width: 30%;
  }
}
@media screen and (max-width: 998px) {
  .six-background {
    background-position: 45%;
  }
}

.sept-background {
  background-image: url("../images/team2.png");
  height: 650px;
  width: 50%;
  background-size: cover;
  margin-left: 0;
}
@media screen and (max-width: 998px) {
  .sept-background {
    height: auto;
    width: 30%;
  }
}
@media screen and (max-width: 998px) {
  .sept-background {
    background-position: 32%;
  }
}

.huit-background {
  background-image: url("../images/team3.jpg");
  height: 650px;
  width: 50%;
  background-size: cover;
  margin-right: 0;
}
@media screen and (max-width: 998px) {
  .huit-background {
    height: auto;
    width: 30%;
  }
}
@media screen and (max-width: 998px) {
  .huit-background {
    background-position: 26%;
  }
}

.six-rectangle,
.huit-rectangle {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 50%;
  position: relative;
  background-color: #F4EDE6;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  margin-left: 0;
}
@media screen and (max-width: 998px) {
  .six-rectangle,
  .huit-rectangle {
    height: auto;
    width: 70%;
  }
}
.six-rectangle__lettre,
.huit-rectangle__lettre {
  font-family: "Qwigley", cursive;
  font-size: 450px;
  color: rgba(134, 113, 79, 0.08);
  line-height: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  transform: scale(0);
  animation: translate-lettre-droit 2000ms 1000ms ease-in-out both;
}
@media screen and (max-width: 998px) {
  .six-rectangle__lettre,
  .huit-rectangle__lettre {
    display: none;
  }
}
.six-rectangle__h2,
.huit-rectangle__h2 {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  z-index: 2;
}
@media screen and (max-width: 998px) {
  .six-rectangle__h2,
  .huit-rectangle__h2 {
    font-size: 3em;
  }
}
.six-rectangle__role,
.huit-rectangle__role {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 3rem;
  z-index: 2;
}
.six-rectangle__p,
.huit-rectangle__p {
  font-family: "Montserrat", serif;
  font-size: 1.12em;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 3rem;
  z-index: 2;
}
.six-rectangle .container-btn-reservation,
.huit-rectangle .container-btn-reservation {
  display: block;
  position: relative;
  width: 200px;
  height: 60px;
}
.six-rectangle .container-btn-reservation:hover .btn-reservation-anim,
.huit-rectangle .container-btn-reservation:hover .btn-reservation-anim {
  transform: scale(1.1, 1.3);
}
.six-rectangle .btn-reservation-anim,
.huit-rectangle .btn-reservation-anim {
  position: absolute;
  border: 0.2em rgba(193, 155, 93, 0.6588235294) solid;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  z-index: 1;
}
.six-rectangle__btn-reservation,
.huit-rectangle__btn-reservation {
  display: block;
  background-color: black !important;
  width: 200px !important;
  height: 60px !important;
  color: white !important;
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 60px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.sept-rectangle {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 50%;
  position: relative;
  background-color: #F4EDE6;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  margin-right: 0;
}
@media screen and (max-width: 998px) {
  .sept-rectangle {
    height: auto;
    width: 70%;
  }
}
.sept-rectangle__lettre {
  font-family: "Qwigley", cursive;
  font-size: 450px;
  color: rgba(134, 113, 79, 0.08);
  line-height: 100%;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  transform: scale(0);
  animation: translate-lettre-droit 2000ms 1000ms ease-in-out both;
}
@media screen and (max-width: 998px) {
  .sept-rectangle__lettre {
    display: none;
  }
}
.sept-rectangle__h2 {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  z-index: 2;
}
@media screen and (max-width: 998px) {
  .sept-rectangle__h2 {
    font-size: 3em;
  }
}
.sept-rectangle__role {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 3rem;
  z-index: 2;
}
.sept-rectangle__p {
  font-family: "Montserrat", serif;
  font-size: 1.12em;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 3rem;
  z-index: 2;
}
.sept-rectangle .container-btn-reservation {
  display: block;
  position: relative;
  width: 200px;
  height: 60px;
}
.sept-rectangle .container-btn-reservation:hover .btn-reservation-anim {
  transform: scale(1.1, 1.3);
}
.sept-rectangle .btn-reservation-anim {
  position: absolute;
  border: 0.2em rgba(193, 155, 93, 0.6588235294) solid;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  z-index: 1;
}
.sept-rectangle__btn-reservation {
  display: block;
  background-color: black !important;
  width: 200px !important;
  height: 60px !important;
  color: white !important;
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 60px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.container-tarifs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: auto;
  width: 100%;
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;
}
@media screen and (max-width: 998px) {
  .container-tarifs {
    flex-direction: column;
  }
}
.container-tarifs__lettre-p {
  font-family: "Qwigley", cursive;
  color: rgba(255, 255, 255, 0.05);
  font-size: 600px;
  line-height: 300px;
  position: absolute;
  margin-top: 10%;
  overflow: hidden;
  transform: scale(0);
  animation: translate-lettre-droit 2000ms 1000ms ease-in-out both;
}
@media screen and (max-width: 998px) {
  .container-tarifs__lettre-p {
    font-size: 450px;
  }
}

@media screen and (max-width: 998px) {
  .container-h3 {
    text-align: center;
  }
}
.container-h3--titre {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  margin-right: 5rem;
}
@media screen and (max-width: 998px) {
  .container-h3--titre {
    font-size: 3em;
  }
}
@media screen and (max-width: 998px) {
  .container-h3--titre {
    margin: 0;
    text-align: left;
  }
}

.container-p {
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #070F12;
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 998px) {
  .container-p {
    font-size: 1em;
  }
}
@media screen and (max-width: 998px) {
  .container-p {
    width: 80%;
  }
}
.container-p__paragraph {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  align-items: center;
  margin-bottom: 5px;
}
@media screen and (max-width: 998px) {
  .container-p__paragraph {
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
  }
}
.container-p p {
  margin: 0;
  order: 1;
}
.container-p__paragraph::after {
  content: "";
  flex-grow: 1;
  margin-left: 10px;
  border-bottom: 1px solid #ffffff;
  order: 2;
}
.container-p span {
  margin-left: 10px;
  order: 3;
}

.grid-portfolio {
  margin-top: 3rem;
  justify-content: center;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: auto;
  gap: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
@media screen and (max-width: 998px) {
  .grid-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.grid-portfolio a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo1 {
  background-size: cover;
  background-position: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

.photo2 {
  background-size: cover;
  background-position: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

.photo3 {
  background-size: cover;
  background-position: center;
  grid-row: 1/2;
  grid-column: 3/4;
}

.container-carre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  grid-row: 2/3;
  grid-column: 1/2;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 998px) {
  .container-carre {
    width: 100%;
  }
}
.container-carre__h3 {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  color: white;
  background-size: cover;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 3rem;
}
@media screen and (max-width: 998px) {
  .container-carre__h3 {
    font-size: 3em;
  }
}
@media screen and (max-width: 998px) {
  .container-carre__h3 {
    margin-top: 1em;
  }
}
.container-carre__portfolio-carre__p {
  font-family: "Qwigley", cursive;
  color: rgba(255, 255, 255, 0.07);
  font-size: 300px;
  z-index: 1;
  position: absolute;
}
@media screen and (max-width: 998px) {
  .container-carre__portfolio-carre__p {
    font-size: 200px;
    margin-top: 0.2em;
    margin-bottom: auto;
  }
}
.container-carre__logoinstagram {
  height: 60px !important;
  width: auto;
  margin-top: 2rem;
  cursor: pointer;
  z-index: 5;
  position: relative;
}
@media screen and (max-width: 998px) {
  .container-carre__logoinstagram {
    margin-top: 0.5em;
    margin-bottom: 1em;
    height: 40px !important;
  }
}

.photo4 {
  background-size: cover;
  background-position: center;
  grid-row: 2/3;
  grid-column: 2/4;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 998px) {
  .lightbox {
    display: none;
  }
}

.lightbox:target {
  display: block;
}
@media screen and (max-width: 998px) {
  .lightbox:target {
    display: none;
  }
}

.lightbox img {
  display: block;
  max-width: 50%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: #ffffff 0.2rem solid;
}
@media screen and (max-width: 998px) {
  .lightbox img {
    display: none;
  }
}

.container-onze {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 3em;
}
.onze-background {
  background-image: url("..//images/contact_form.jpg");
  height: auto;
  width: 40%;
  margin-right: 0;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 998px) {
  .onze-background {
    display: none;
  }
}

.onze-rectangle {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60%;
  position: relative;
  background-color: #F4EDE6;
  align-items: center;
  text-align: left;
  justify-content: space-around;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
}
@media screen and (max-width: 998px) {
  .onze-rectangle {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}
.onze-rectangle__resa {
  font-family: "Cormorant", serif;
  font-size: 3.75em;
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-self: flex-start;
}
@media screen and (max-width: 998px) {
  .onze-rectangle__resa {
    font-size: 3em;
  }
}
.onze-rectangle form {
  width: 60%;
}
@media screen and (max-width: 998px) {
  .onze-rectangle form {
    width: 70%;
  }
}
.onze-rectangle__prenom-nom {
  display: flex;
  flex-direction: row;
  gap: 51px;
}
@media screen and (max-width: 998px) {
  .onze-rectangle__prenom-nom {
    flex-direction: column;
    gap: 0;
  }
}

.onze-rectangle input,
.onze-rectangle textarea {
  border: none;
  background-color: transparent;
  border-bottom: 2px black solid;
  outline: none;
  font-family: "Montserrat", serif;
  font-size: 0.875em;
  font-weight: 600;
}

.onze-rectangle p {
  margin-top: 1.5rem;
}

.container-onze label {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.btn-reservation {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  flex: 1;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.container-btn-reservation {
  display: block;
  position: relative;
  width: 200px;
  height: 60px;
  margin-bottom: 2em;
}
.container-btn-reservation:hover .btn-reservation-anim {
  transform: scale(1.1, 1.3);
}

.btn-reservation-anim {
  position: absolute;
  border: 0.2em rgba(193, 155, 93, 0.6588235294) solid;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  z-index: 1;
}

.btn-reservation {
  display: block;
  background-color: black !important;
  width: 200px !important;
  height: 60px !important;
  color: white !important;
  font-family: "Montserrat", serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  cursor: pointer !important;
  text-align: center !important;
  line-height: 60px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

input[type=checkbox].checkbox {
  display: none;
}

input[type=checkbox].checkbox + label {
  display: inline-block;
  height: 52px;
  width: 150px;
  background-color: transparent;
  border: 2px black solid;
  cursor: pointer;
  text-align: center;
  line-height: 52px;
  justify-content: space-around;
}
@media screen and (max-width: 998px) {
  input[type=checkbox].checkbox + label {
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
}

input[type=checkbox].checkbox:checked + label {
  background-color: #000000;
  color: white;
}

footer {
  background-color: #000000;
}

.footer-background {
  padding-top: 5em;
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
@media screen and (max-width: 998px) {
  .footer-background {
    flex-direction: column;
    padding-top: 2em;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    align-items: flex-start;
    align-items: center;
  }
}

.bloc1-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
@media screen and (max-width: 998px) {
  .bloc1-footer {
    align-items: center;
    order: 1;
    text-align: center;
    margin-bottom: 2em;
  }
}
.bloc1-footer__p {
  margin-bottom: 2rem;
  font-family: "Montserrat", serif;
  font-size: 1.12em;
  font-weight: 400;
  color: #B3B3B3;
}
.bloc1-footer__lienreseaux img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}
.bloc1-footer .logo {
  margin-bottom: 2rem;
}

.bloc2-footer {
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (max-width: 998px) {
  .bloc2-footer {
    order: 1;
    margin-bottom: 1em;
  }
}
.bloc2-footer__h3 {
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #070F12;
  color: #B3B3B3;
  margin-bottom: 1rem;
}
@media screen and (max-width: 998px) {
  .bloc2-footer__h3 {
    font-size: 1em;
  }
}
.bloc2-footer p {
  font-family: "Montserrat", serif;
  font-size: 16px;
  color: white;
  margin-bottom: 1rem;
}

.bloc3-footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Montserrat", serif;
}
@media screen and (max-width: 998px) {
  .bloc3-footer {
    order: 2;
    margin-bottom: 1em;
  }
}
.bloc3-footer__p {
  font-family: "Montserrat", serif;
  font-size: 1.25em;
  font-weight: 600;
  color: #070F12;
  color: #B3B3B3;
  margin-bottom: 1rem;
}
@media screen and (max-width: 998px) {
  .bloc3-footer__p {
    font-size: 1em;
  }
}
.bloc3-footer form {
  display: flex;
  flex-direction: column;
}
.bloc3-footer label {
  margin-bottom: 1rem;
}
.bloc3-footer input[type=email] {
  border: none;
  background-color: transparent;
  border-bottom: 2px rgb(255, 255, 255) solid;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}
.bloc3-footer input[type=submit] {
  background-color: rgb(255, 255, 255);
  width: 125px;
  height: 44px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", serif;
}

.footercopy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  font-family: "Grandiflora One", cursive;
  text-align: center;
  color: white;
  padding-top: 1em;
}
.copy img {
  height: 50px;
  margin-left: 10px;
}
@media screen and (max-width: 998px) {
  .copy {
    padding-bottom: 1em;
  }
}/*# sourceMappingURL=style.css.map */