// @MIXIN

// FONT
@mixin firstfont {
    font-family: 'Cormorant', serif;
    font-weight: 700;
}
@mixin secondfont {
    font-family: 'Montserrat', serif;
}
@mixin firstfont-h2 {   
    font-family: 'Cormorant', serif;
    font-size: 3.25em;
    font-weight: 700;
        @media screen and (max-width: 998px) {
            font-size: 3em;
        }
}
@mixin montserrat20semi {
    font-family: 'Montserrat', serif;
    font-size: 1.25em;
    font-weight: 600;
    color: #070F12;
        @media screen and (max-width: 998px) {
            font-size: 1em;
    }
}
@mixin comorant60semi {
    font-family: 'Cormorant', serif;
    font-size: 3.75em;
    font-weight: 600;
        @media screen and (max-width: 998px) {
            font-size: 3em;
    }
}

@mixin cormorant24bold {
    font-family: 'Cormorant', serif;
    font-size: 1.5em;
    font-weight: 700;
}
@mixin montserrat18medium {
    font-family: 'Montserrat', serif;
    font-size: 1.12em;
    font-weight: 400;
}

//ELEMENT
@mixin bouton-first {
    height: 55px;
    width: 55px;
    background-color: #A5836A;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
@mixin fleche {
    font-size: 2.5em;
    font-family: 'Rethink Sans', sans-serif;
    user-select: none;
    cursor: pointer;
}
@mixin background {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 700px;
    width: 100%;
}

@mixin btn-reservation  {
    background-color: black!important; 
    width: 200px!important;
    height: 60px!important;
    color: white!important;
    font-family: 'Montserrat', serif!important;
    font-weight: 600!important;
    font-size: 16px!important;
    cursor: pointer!important;
    text-align: center!important;
    line-height: 60px;
}

@mixin form {
    border: none;
    background-color: transparent ;
    border-bottom: 2px black solid;
    outline: none;
    font-family: 'Montserrat', serif;
    font-size: 0.875em;
    font-weight: 600;
 
}


//Animation 

@keyframes translate-lettre-gauche {
    0% {
        transform: scale(0) translatex(-8000px);
    }
    100% {
        transform: scale(1) translatex(1px);
    }
}
@keyframes translate-lettre-droit {
    0% {
        transform: scale(0) translatex(8000px);
    }
    100% {
        transform: scale(1) translatex(1px);
    }
}

@mixin anim-lettre-gauche {
    transform: scale(0);
    animation: translate-lettre-gauche 2000ms 1000ms ease-in-out both;
}
@mixin anim-lettre-droit {
    overflow: hidden;
    transform: scale(0);
    animation: translate-lettre-droit 2000ms 1000ms ease-in-out both;
}

// @mixin btn-resa-anim {
//     position: absolute;
//     border: 0.2em #c19b5da8 solid;
//     width: 100%;
//     height: 100%;
//     cursor: pointer!important;
//     transform: scale(0);
//     transition: transform 250ms ease-in-out;
//     z-index: 1;
// }

//corp
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
}
// PAGE 1

body {
    position: relative;
}

.background-first {
    @include background;
    background-image: url("../images/first.jpg");
    overflow: hidden;


}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: 5;
    margin-left: 1rem;
    padding: 0.5em 1em;
        @media screen and (max-width:998px) {
            flex-direction: column;
        }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 998px) {
        z-index: 999;
    }
        &__logo-salon {
            color: white;
            @include secondfont;
        }
        &__logo-barbara {
            color: white;
            @include secondfont;
            margin-left: 1rem;
        }
        &__rect-logo {
            border: 2px white solid;
            padding: 1rem;
        }
        
}

.container-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40%;
        @media screen and (max-width: 998px) {
        margin-top: 1em;
    }
}

.menu {
    display: inline-block;
    text-decoration: none;
    color: white;
    z-index: 10;
    font-size: 1em;
    @include secondfont;
    //ANIMATION
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    max-width: 170px;
    letter-spacing: 0px;
    transition: letter-spacing 400ms ease-in-out;
    @media screen and (max-width: 998px) {
        padding: 1em;
        font-size: 0.8em;
        margin-right: 1.5em;
        white-space: nowrap;
    }

}


.menu::after,
.menu::before {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    content: " ";
    display: block;
    margin: 1rem auto;
    position: relative;
    transition: all 350ms ease-in-out;
    width: 0;
}

.menu:hover {
    letter-spacing: 5px;
}

.menu:hover::after,
.menu:hover::before {
    border-color: white;
    width: 70%;
}

.menu:hover::before {
    top: 0;
}

.rectangle {

    color: white;
    background-color:rgba(11, 21, 24, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
    width: 40%;
    padding-top: 7em;
        @media screen and (max-width: 1200px) {
            width: 50%;
        }
        @media screen and (max-width: 998px) {
            width: 100%;

        }    text-align:left;
       
        &__h1 {
            @include firstfont;
            font-size : 4em;
            margin-bottom: 2rem;
                @media screen and (max-width: 998px) {
                font-size: 3em;
                margin-top: 2em;
            }
        }
        &__intro {
            @include secondfont;
            font-size: 1.563em;
            font-weight: 600;
            color: #CCCCCC;
            position: relative;
            margin-bottom: 2rem;
            @media screen and (max-width: 998px) {
                font-size: 1em;
            }
        }
        &__trait {
            display: block;
            width: 20%;
            height: 0.2rem;
            background-color: white;
            margin-bottom: 2em;
        } 

    }

// ANIMATION FLECHES PAGE 1 //

@keyframes transition-fleche {
    0% {
        transform: scale(0) translateY(0);
        
    }
    100% {
        transform: scale(1) translateY(1);
    }
}

@keyframes gauche-fleche-top {
    0% {
        transform: rotateZ(-135deg) scaley(0);
    }
    100% {
        transform: rotateZ(-135deg) scaley(1);

    }
}
@keyframes gauche-fleche-bottom { 
    0% {
        transform: rotateZ(135deg) scaley(0.5);
    }
    100% {
        transform: rotateZ(135deg) scaley(1);

    }
}
@keyframes droit-fleche-top {
    0% {
        transform: rotateZ(-45deg) scaley(0);
    }
    100% {
        transform: rotateZ(-45deg) scaley(1);

    }
}
@keyframes droit-fleche-bottom { 
    0% {
        transform: rotateZ(45deg) scaley(0.5);
    }
    100% {
        transform: rotateZ(45deg) scaley(1);

    }
}

//carousel

.carousel { //container
    position: relative;
    margin-top: 6em;
    margin-bottom: 2em;
    width: 70%;
}

.carousel-inner { // parent
    position: relative;
    // overflow: hidden;
}

.carousel-open:checked + .carousel-item {
    transform: scaley(1);
}

.carousel-item {
    position: absolute;
    transition: transform 350ms ease-in-out;
    transform: scaley(0) translateX(800px);
    top: -3em;
}


.carousel-item p,
.carousel-item a {
    display: block;
    height: auto;
    width: 300px;
}

.rectangle__lieu {
    position: absolute;
    @include secondfont;
    font-size: 1em;
    color: #CCCCCC;

}
 //ANIMATION
.rectangle__tel { //ANIMATION
    position: absolute;
    @include secondfont;
    font-size: 1.3em;
    color: #CCCCCC;
}

.rectangle__btn { //ANIMATION
    position: absolute;
    background-color: #c19b5da8!important; 
    width: 250px!important;
    height: 60px!important;
    color: white!important;
    font-family: 'Montserrat', serif!important;
    font-weight: 600!important;
    font-size: 16px!important;
    cursor: pointer!important;
    text-align: center!important;
    line-height: 60px;
    border: white solid 0.2rem;  
    top: -1.5em;


}
.carousel-control {
    display: none;
    position: absolute;
    transform: translate(0, -50%);
    z-index: 10;
}

.carousel-control.prev {
    bottom: -6em;
}

.carousel-control.next {
    bottom: -6em;
    left: 6em;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

@mixin carre-fleche { 
    height: 55px;
    width: 55px;
    background-color: #c19b5da8;
    cursor: pointer;
    border: 0.05em white solid
}
.gauche-fleche {
    @include carre-fleche;
        &:active {
            .gauche-fleche-container {
                transform: scalex(0.6); 
            }               
        }
        &:hover {
            .gauche-fleche2__top {
                animation: gauche-fleche-top 250ms 250ms ease-in-out forwards;
            }
        &:hover {
            .gauche-fleche3__bottom {
                animation: gauche-fleche-bottom 250ms ease-in-out forwards;
            }
        }
    }
}

.droit-fleche {
    @include carre-fleche;
        &:active {
            .droit-fleche-container {
                transform: scalex(0.7) ;
                }
        }
        &:hover {
            .droit-fleche2__top {
                animation: droit-fleche-top 250ms 250ms ease-in-out forwards;
                }
        &:hover {
            .droit-fleche3__bottom {
                animation: droit-fleche-bottom 250ms ease-in-out forwards;
            }
        }
    }
}

    @mixin fleche1 {
        background-color: white;
        height: 22.5px;
        width: 3px;
        position: absolute;
    }
    @mixin fleche2 {
        background-color: white;
        position: absolute;
    }
    .gauche-fleche {
        &1__top {  // Fleche visible
            @include fleche1;
            transform: rotateZ(-135deg);
            margin-top: 9px;
            margin-left: 25px
        }
        &1__bottom {    // Fleche visible
            @include fleche1;
            transform: rotateZ(135deg);
            margin-top: 23px;
            margin-left: 25px;
        }
        &2__top { // ligne caché de top
            @include fleche2;
            height: 27px;
            width: 1.5px;
            transform: rotateZ(-135deg);
            margin-left: 10.5px;
            margin-top: -27.2px;
            transform-origin: top;
            transform: scale(0);
        }
        &2__bottom { // moitié visible de bottom
            height: 11.25px;
            width: 1.5px;
            @include fleche2;
            transform: rotateZ(135deg);
            transform-origin: top;
            margin-left: 30px;
            margin-top: -9px;
        }
        &3__bottom { // ligne caché de bottom
            height: 27px;
            width: 1.5px;
            @include fleche2;
            transform: rotateZ(135deg);
            transform-origin: top;
            margin-left: 29.83px;
            margin-top: -9.3px;
            transform: scale(0)
        }
}


.droit-fleche {
    &1__top {  // Fleche visible
        @include fleche1;
        transform: rotateZ(-45deg);

        margin-top: 9px;
        margin-left: 25px
    }
    &1__bottom {   // Fleche visible
        @include fleche1;
        transform: rotateZ(45deg);
        margin-top: 23px;
        margin-left: 25px;
    }
    &2__top { // ligne caché de top
        @include fleche2;
        height: 27px;
        width: 1.5px;
        transform: rotateZ(-45deg);
        margin-left: 40.5px;
        margin-top: -54.2px;
        transform-origin: bottom;
        transform: scale(0);
    }
    &2__bottom { // moitié visible de bottom
        height: 11.25px;
        width: 1.5px;
        @include fleche2;
        transform: rotateZ(45deg);
        transform-origin: top;
        margin-left: 30px;
        margin-top: -17px;
    }
    &3__bottom { // ligne caché de bottom
        height: 26px;
        width: 1.5px;
        @include fleche2;
        transform: rotateZ(45deg);
        transform-origin: bottom;
        margin-left: 22.2px;
        margin-top: -35.35px;
        transform: scale(0)
    }
}

.gauche-fleche-container,
.droit-fleche-container {
    transition: 150ms ease-in-out;
    position: relative;
    height: 55px;
    width: 55px;
}


// PAGE 2 (A PROPOS)

#apropos {
    @include background;
    background-color: #080D10 ;
    position: relative;
    z-index: 2;
}


.apropos__b {
    line-height: 80%;
    font-size: 1000px;
    font-family: 'Qwigley', cursive;
    color: rgba(255, 255, 255, 0.06);
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
    @include anim-lettre-gauche;
        @media screen and (max-width: 998px) {
            display: none;
        }

}


.second-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 60%;
    box-sizing: border-box;
        @media screen and (max-width: 998px) {
            width: 70%;
            padding-left: 1em;
            padding-right: 1em;
    }
        &__about {
            color: #C19A5D;
            font-family: 'Montserrat', serif;
            font-weight: 600;
            margin-bottom: 3rem;
                @media screen and (max-width: 998px) {
                    margin-top: 2em;
            }
        }
        &__titre {
            @include firstfont-h2;
            color: white;
            margin-bottom: 3rem;
            text-align: center;
        }
        @media screen and (max-width: 998px) {
            margin-bottom: 2em;
        }
        &__texte {
            color: white;
            font-family: 'Montserrat', serif;
            font-size: 20px;
            text-align: left;     
                @media screen and (max-width: 998px) {
                    text-align: center;
                }       
        }
}

.container-btn__voir-plus {
    position: relative;
    width: 200px;
    height: 60px;
    margin-top: 5rem;
    align-items: center;
    z-index: 99;
        &:hover .btn-voir-plus__anim {
            transform: scale(1);
        }
        &:active .btn-voir-plus {
            transform: scale(0.9, 0.8);
        }
        @media screen and (max-width: 998px) {
            margin-top: 2em;
    }
}

.btn-voir-plus__anim {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 999;
    border: 0.1rem white solid;
    width: 90%;
    height: 80%;
    cursor: pointer;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.btn-voir-plus {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0.2rem white solid;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    padding: 1rem 2rem;
    color: white;
    font-weight: 600;
    user-select: none;
    text-align: center;
    line-height: 30px;
    transition: transform 250ms ease-in-out;
    cursor: pointer;
}
        
.second-page__rectangle {
    background-image: url("../images/second.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    height: 700px;
    width: 30%;
}

//Troisième page (horaire)

.background-horaire {
    background-color: #F4EDE6;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 998px) {
        flex-direction: column;
        justify-content: center;
    }
}

.container-texte {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070F12;
    @media screen and (max-width: 998px) {
        flex-direction: column;
    }
}

.container-texte__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;;
        @media screen and (max-width: 998px) {
            text-align: center;
            z-index: 999;
            order: 1;
    }
    &--p {
        @include montserrat20semi;
        margin-bottom: 0rem;
            @media screen and (max-width: 998px) {
                padding-bottom: 2em;
        }
    }
    &--h2 {
        @include comorant60semi;
        margin-bottom: 5rem;
            @media screen and (max-width: 998px) {
                margin-top: 0;
                margin-bottom: 0;
        }
    }
  
}

.container-btn-horaire {
    position: relative;
    width: 200px;
    height: 60px;
        @media screen and (max-width:998px) {
            display: none;
        }
        &:hover {
            .btn-horaire-anim {
                transform: scale(1.1, 1.3);
        }               
    }
}


.btn-horaire-anim {
    position: absolute;
    border: 0.2em #c19b5da8 solid;
    width: 100%;
    height: 100%;
    cursor: pointer!important;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
    z-index: 1;
}

.btn-horaire {
    position: absolute;
    z-index: 99;
    @include btn-reservation;
        @media screen and (max-width: 998px) {
        display: none;
    }
 }

.horaire-separation {
    height: 200px;
    width: 3px;
    background-color: #070F12;
    margin: 2rem;
    @media screen and (max-width: 998px) {
        display: none;
    }

}

.container-texte__right {
    @media screen and (max-width: 998px) {
        z-index: 999;   
        order: 1;    
        text-align: center;
        align-items: center;
        justify-content: center;
    }
        & p {
            margin-top: 3rem;
            margin-bottom: 3rem;
            @include montserrat20semi;
        }
        & a .btn-horaire-small {
            @include btn-reservation;
                @media screen and (min-width: 999px) {
                    display: none;
            }

         }
         & a {
            display: inline-block;
            align-items: center;
         }
}

.cercle1 {
    position: absolute;
    top: -25%;
    left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: #C19A5D 18px solid;
    z-index: 1;
    transform: s;
    transform: scale(0);
    animation: translate-lettre-gauche 2000ms 100ms ease-in-out both;
        @media screen and (max-width: 998px) {
            border: #C19A5D 9px solid;  
    }
}

.cercle2 {
    position: absolute;
    bottom: -25%;
    right: -200px;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: #C19A5D 18px solid;
    z-index: 1;
    transform: scale(0);
    animation: translate-lettre-droit 2400ms 1000ms ease-in-out both;
        @media screen and (max-width: 998px) {
            border: #C19A5D 9px solid;  
    }
}

// Quatrième page

.container-background {
    margin: 0;
    height: 600px;
    width: 100%;
    position: relative;
    background-color: #070904;
    &__left {
        background-image: url("..//images/fourth-1.png");
        height: 600px;
        width: 60%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-size: cover;
        @media screen and (max-width: 998px) {
            width: 100%;
        }
  
    }
    &__right {
        background-image: url("..//images/fourth-2.png");
        height: 600px;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        background-size: cover;
        @media screen and (max-width: 998px) {
            width: 100%;
        }

    }
}

.page-fourth__container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: auto;
    position: relative;
        @media screen and (max-width: 998px) {
            padding-left: 2em;
            padding-right: 2em;
    }
     &--h2 {
        @include comorant60semi;
        color: white;
        z-index: 3;
        padding: 1rem

     }
     &--p {
        @include montserrat20semi;
        font-weight: 400;
        color: white;
        z-index: 3;
            @media screen and (max-width: 998px) {
              line-height: 2em;
        }
    }
     &--rect {
        background-color: rgba(7, 15, 18, .7);
        width: 40%;
        height: 300px;
        z-index: 2;
        position: absolute;
     
            @media screen and (max-width: 998px) {
                width: 60%;
      }

     }
}


//cinquième page

.container-five {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 2em;
    @media screen and (max-width: 998px) {
        flex-direction: column;
        gap: 2em;

  }
}

.bloc1, 
.bloc2,
.bloc3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloc__logo1 {
    background-image: url("..//images/icon_1.png");
    height: 64px;
    width: 64px;
}
.bloc__logo2 {
    background-image: url("..//images/icon_2.png");
    height: 64px;
    width: 64px;
    @media screen and (max-width: 998px) {
        background-position: 30%!important;
}
}
.bloc__logo3 {
    background-image: url("..//images/icon_3.png");
    height: 64px;
    width: 64px;
}

.page-five h3 {
    @include cormorant24bold;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
.page-five p {
    @include montserrat18medium;
    text-align: center;
}

//Sixième, septième et huitième page page

@mixin rectangle-team {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 50%;
    position: relative;
    background-color: #F4EDE6;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    overflow: hidden;
        @media screen and (max-width: 998px) {
            height: auto;
            width: 70%;
        }
        &__lettre {
            font-family: 'Qwigley', cursive;
            font-size: 450px;
            color: rgba(134, 113, 79, 0.08);
            line-height: 100%;
            position: absolute;
            z-index: 2;
            @include anim-lettre-droit;
            @media screen and (max-width: 998px) {
                display: none;
            }
        }
        &__h2 {
            @include comorant60semi;
            margin-bottom: 0.5rem;
            z-index: 2;

        }
        &__role {
            font-family: 'Montserrat', serif;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 3rem;
            z-index: 2;

        }
        &__p {
            @include montserrat18medium;
            font-size: 20px;
            margin-bottom: 3rem;
            z-index: 2;
        }

        & .container-btn-reservation {
            display: block;
            position: relative;
            width: 200px;
            height: 60px;
            &:hover {
                .btn-reservation-anim {
                    transform: scale(1.1, 1.3);
            }
        }
    }

        & .btn-reservation-anim {
            position: absolute;
            border: 0.2em #c19b5da8 solid;
            width: 100%;
            height: 100%;
            cursor: pointer!important;
            transform: scale(0);
            transition: transform 200ms ease-in-out;
            z-index: 1;
        }

        &__btn-reservation {
            display: block;
            @include btn-reservation;
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
        }
}

@mixin background-team {
    height: 650px;
    width: 50%;
    background-size: cover;
    @media screen and (max-width: 998px) {
        height: auto;
        width: 30%;
    }
}

.container-six,
.container-huit {
    display: flex;
    flex-direction: row;
}

.container-sept {
    display: flex;
    flex-direction: row-reverse;
}


.six-background {
   background-image: url("..//images/team1.jpg"); 
    @include background-team;
    margin-right: 0;
        @media screen and (max-width:998px) {
            background-position: 45%;
    }
}

.sept-background {
    background-image: url("../images/team2.png");
    @include background-team;
    margin-left: 0;
        @media screen and (max-width:998px) {
            background-position: 32%;
    }
}

.huit-background {
    background-image: url("../images/team3.jpg");
    @include background-team;
    margin-right: 0;
        @media screen and (max-width:998px) {
            background-position: 26%;
    }
}

.six-rectangle,
.huit-rectangle {
    @include rectangle-team;
    margin-left: 0;
}

.sept-rectangle {
    @include rectangle-team;
    margin-right: 0;
}

//Neuvième page (tarifs)

.container-tarifs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 5em;
    padding-bottom: 5em;
        @media screen and (max-width: 998px) {
            flex-direction: column;
        }
        &__lettre-p {
            font-family: 'Qwigley', cursive;
            color: rgba($color: #ffffff, $alpha: 0.05);
            font-size: 600px;
            line-height: 300px;
            position: absolute;
            margin-top: 10%;
            @include anim-lettre-droit;
                @media screen and (max-width: 998px) {
                    font-size: 450px;
                }
        }
}

.container-h3 {
    @media screen and (max-width: 998px) {
        text-align: center;
    }
        &--titre {
            @include comorant60semi;
            color: #ffffff;
            text-align: right;
            margin-right: 5rem;
                @media screen and (max-width: 998px) {
                    margin: 0;
                    text-align: left;
            }
        }
}

    .container-p {
            @include montserrat20semi;
            color: white;
            display: flex;
            flex-direction: column;
            width: 50%;
            @media screen and (max-width: 998px) {
                width: 80%;
            }
                &__paragraph {
                    display: flex;
                    justify-content: space-between;
                    margin: 2rem;
                    align-items: center;
                    margin-bottom: 5px;
                    @media screen and (max-width: 998px) {
                        margin-bottom: 0.4em;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
                p {
                    margin: 0;
                    order: 1;
                }
                &__paragraph::after {
                    content: "";
                    flex-grow: 1;
                    margin-left: 10px;
                    border-bottom: 1px solid #ffffff;
                    order:2;
                }
                span {
                    margin-left: 10px;
                    order: 3;
                }
        }


// Dixième page (portfolio)

.grid-portfolio {
    margin-top: 3rem;
    justify-content: center;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    object-fit: cover;
    width: auto;
    height: auto;
    gap: 1em;
    padding-left: 2em;
    padding-right: 2em;
        @media screen and (max-width: 998px){
            display: flex;
            flex-direction: column;
            align-items: center;     
    }
}

.grid-portfolio a img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.photo1 {
    background-size: cover;
    background-position: center;   
    grid-row: 1/2;
    grid-column: 1/2;
}

.photo2 {
    background-size: cover;
    background-position: center;   
    grid-row: 1/2;
    grid-column: 2/3;
}
.photo3 {
    background-size: cover;
    background-position: center;   
    grid-row: 1/2;
    grid-column: 3/4;
}

.container-carre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    grid-row: 2/3;
    grid-column: 1/2;
    position: relative;
    z-index: 1;

        @media screen and (max-width: 998px) {
            width: 100%;
    }
        &__h3 {
            @include comorant60semi;
            color: white;
            background-size: cover;
            z-index: 2;
            user-select: none;
            margin-top: 3rem;
            @media screen and (max-width: 998px) {
                margin-top: 1em;
        }
       }
        &__portfolio-carre__p {
            font-family: 'Qwigley', cursive;
            color: rgba($color: #ffffff, $alpha: 0.07);
            font-size: 300px;
            z-index: 1;
            position: absolute;
                @media screen and (max-width: 998px) {
                    font-size: 200px;
                    margin-top: 0.2em;
                    margin-bottom: auto;
        }

        }
        &__logoinstagram {
            height: 60px!important;
            width: auto;
            margin-top: 2rem;
            cursor: pointer;
            z-index: 5;
            position: relative;
                @media screen and (max-width: 998px) {
                   margin-top: 0.5em;
                   margin-bottom: 1em;
                   height: 40px!important;
        }
    }

}
.photo4 {
    background-size: cover;
    background-position: center;   
    grid-row: 2/3;
    grid-column: 2/4;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
        @media screen and (max-width: 998px) {
            display: none;
}
  }
  
  .lightbox:target {
    display: block;
        @media screen and (max-width: 998px) {
            display: none;
}
  }
  
  .lightbox img {
    display: block;
    max-width: 50%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: #ffffff 0.2rem solid;
        @media screen and (max-width: 998px) {
            display: none;
    }
  }

// Onzième page (formulaire)

.container-onze {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 3em;
        @media screen and (max-width: 998px) {
}
}

.onze-background {
    background-image: url("..//images/contact_form.jpg"); 
    height: auto;
    width: 40%;
    margin-right: 0;
    background-position: center;
    background-size: cover;
        @media screen and (max-width: 998px) {
            display: none;
    }
}
.onze-rectangle {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    position: relative;
    background-color: #F4EDE6;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    
        @media screen and (max-width: 998px) {
            width: 100%;
            padding-left: 2em;
            padding-right: 2em;
        }
        &__resa {
            @include comorant60semi;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            align-self: flex-start;
        }
        & form {
            width: 60%;
                @media screen and (max-width: 998px) {
                    width: 70%;
        }
        }
        &__prenom-nom {
            display: flex;
            flex-direction: row;
            gap: 51px;
                @media screen and (max-width: 998px) {
                    flex-direction: column;
                    gap: 0;
        }
    }
}



.onze-rectangle input,
.onze-rectangle textarea{
    @include form;
}
.onze-rectangle p {
    margin-top: 1.5rem;
}
.container-onze label {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
.btn-reservation {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    flex: 1;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.container-btn-reservation {
    display: block;
    position: relative;
    width: 200px;
    height: 60px;
    margin-bottom: 2em;
    &:hover {
        .btn-reservation-anim {
            transform: scale(1.1, 1.3);
        }
    }
}

.btn-reservation-anim {
    position: absolute;
    border: 0.2em #c19b5da8 solid;
    width: 100%;
    height: 100%;
    cursor: pointer!important;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
    z-index: 1;
}

.btn-reservation {
    display: block;
    @include btn-reservation;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}




input[type="checkbox"].checkbox {
    display: none;
}

input[type="checkbox"].checkbox + label {
    display: inline-block;
    height: 52px;
    width: 150px;
    background-color: transparent;
    border: 2px black solid;
    cursor: pointer;
    text-align: center;
    line-height: 52px;
    justify-content: space-around;
        @media screen and (max-width: 998px) {
    
            padding-left: 0.1em;
            padding-right: 0.1em;
    }
}

input[type="checkbox"].checkbox:checked + label {
    background-color: #000000; 
    color: white; 
}





// Dernière page (FOOTER)

footer {
    background-color: #000000;
}
.footer-background {
    padding-top: 5em;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
        @media screen and (max-width: 998px) {
            flex-direction: column;
            padding-top: 2em;
            position: relative;
            padding-left: 2em;
            padding-right: 2em;
            align-items: flex-start;
            align-items: center;
}
}

.bloc1-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
        @media screen and (max-width: 998px) {
            align-items: center;
            order: 1;
            text-align: center;
            margin-bottom: 2em;
}
        &__p {
            margin-bottom: 2rem;
            @include montserrat18medium;
            color: #B3B3B3
        }
        &__lienreseaux img {
            height: 40px;
            width: 40px;
            margin-right: 1rem;
                @media screen and (max-width: 998px) {
       
    }
        }     
}
.bloc1-footer .logo {
    margin-bottom: 2rem;
}

.bloc2-footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    @media screen and (max-width: 998px) {
        order: 1;
        margin-bottom: 1em;
}
        &__h3 {
            @include montserrat20semi;
            color: #B3B3B3;
            margin-bottom: 1rem;
        }
        & p {
            font-family: 'Montserrat', serif;
            font-size: 16px;
            color: white;
            margin-bottom: 1rem;
        }

}

.bloc3-footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Montserrat', serif;
        @media screen and (max-width: 998px) {
            order: 2;
            margin-bottom: 1em;
}

            &__p {
            @include montserrat20semi;
            color: #B3B3B3;
            margin-bottom: 1rem;
        }
        & form {
            display: flex;
            flex-direction: column;
        }
        & label {
            margin-bottom: 1rem;
        }
        & input[type="email"] {
            border: none;
            background-color: transparent ;
            border-bottom: 2px rgb(255, 255, 255) solid;
            outline: none;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 1rem;
            color: white;
        }
        & input[type="submit"] {
            background-color: rgb(255, 255, 255); 
            width: 125px;
            height: 44px;
            color: rgb(0, 0, 0);
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Montserrat', serif;
        }

}

.copy  {
    font-family: 'Grandiflora One', cursive;
    text-align: center;
    color: white;
    padding-top: 1em;
        @media screen and (max-width: 998px) {
            padding-bottom: 1em;
        }
    }